# mac os finder cache files:
.DS_Store

# android studio local files:
program_android/**/*.iml
program_android/**/.classpath
program_android/**/.cxx/
program_android/**/.externalNativeBuild/
program_android/**/.gradle/
program_android/**/.idea/
program_android/**/.project
program_android/**/.settings/
program_android/**/build/
program_android/**/local.properties

# xcode local files:
program_ios/**/build/
program_ios/**/xcuserdata/

program_osx/**/build/
program_osx/**/xcuserdata/

# visual studio local files:
program_win32/**/*.vcxproj.user
program_win32/**/Debug/
program_win32/**/Release/
program_win32/**/x64/
program_win32/.vs/

# vs code local files:
.vscode/

# user project local files:
BUILD/*
HEADERS/*
